@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --red:#d01c28;
  --gray:#2e2e2e;
}
body{
  font-family: 'Poppins', sans-serif;
}
.logo img{
  width: 70px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 5px;
  max-width: 1280px;
  align-items: center;
  margin:0 auto;
}
ul{
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}

li{
  list-style: none;
  display: flex;
}

button{
  all: unset;
  padding: 6px 16px;
  background-color: var(--red);
  height: 32px;
  color: #fff;
  font-weight: 500;
}

.hero{
  display: flex;
  align-items: center;
  height: 100vh;
  
}
.hero-content{
 flex-direction: column;
 display: 36px;
}
.hero h1{
 font-weight: 800;
 line-height: 102px;
 font-size: 108px;
}
.hero p{
  font-weight: 600;
  color:var(--gray);
  max-width: 400px;
}
.hero-btn button{
  font-size: 24px;
}
.hero-btn{
  display: flex;
  gap: 40px;
}
.secondary-btn{
  background-color: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}